@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        <a class="white-text px-4" href="">Hello, @context.User.Identity.Name!</a>
        <a class="white-text px-2" href="/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="white-text px-4" href="/register">Register</a>
        <a class="white-text px-2" href="/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

